<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li >编码--密码--年龄</li>
        <li th:each="stu : ${stuList}">
            <span th:text="${stu.code}"></span>--
            <span th:text="${stu.pass}"></span>--
            <span th:text="${stu.age}"></span>
        </li>
    </ul>
==================================================================================================
    <ul>
        <li >下标--编码--密码--年龄</li>
        <li th:each="stu,stat : ${stuList}">
            <span th:text="${stat.index}"></span>--
            <span th:text="${stu.code}"></span>--
            <span th:text="${stu.pass}"></span>--
            <span th:text="${stu.age}"></span>
            <span th:if="${stu.age>60}">可以退休</span>
            <span th:unless="${stu.age>60}">不能退休</span><br/>
            <!--switch 选择-->
            <span th:switch="${stu.code}">
              <span th:case="'001'">1号员工，骨灰级</span>
              <span th:case="'002'">2号员工，元老级</span>
              <span th:case="'003'">3号员工，老员工</span>
              <span th:case="'004'">4号员工，新员工</span>
              <span th:case="*">临时工</span>
            </span>
        </li>
    </ul>
========================================================================================================

</body>
<script th:inline="javascript">
    //预处理js值
    const stuList = /*[[${stuList}]]*/;
    const stu = /*[[${stuList[0]}]]*/;
    const age = /*[[${stuList[0].age}]]*/;
    const obj = /*[[Thymeleaf表达式]]*/ "静态环境下的默认值";

    console.log("集合："+stuList);
    console.log("对象："+stu);
    console.log("属性："+age);
    console.log(obj);

    stuList.forEach(stu=>{
        console.log(stu.code+"   "+stu.pass)
    })

</script>
</html>